<h1>ABOUT PAGE PRDEL</h1>
<br />
<p />
<li>I love to count words</li>

----------------------------------------------
----------------------------------------------

<html>

<head>


<link rel="stylesheet" href="style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    // Add smooth scrolling to all links
    $("a").on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 500, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  });
  </script>




<style>
body {background-color: white; font-family: helvetica; width:85%;  position: absolute;
    left: 500px;
    width: 600;
    }
h3 {
  color: #5996B4;
  font-size: 30;
  }
ul {list-style-type:circle}

* {
    box-sizing: border-box;
}
.header, .footer {
    background-color: #5996B4;
    color: white;
    padding: 15px;
}

.column {
    float: left;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 15%;
    position: fixed;

}

.content {
    width: 75%;
  }
  .menu ul {
      list-style-type: none;
      margin: 10;
      padding: 0;
  }
  .menu li {
      padding: 8px;
      margin-bottom: 8px;
      background-color: white;
      color: #5996B4;
  }
  .menu li:hover {
      background-color: #0099cc;
  }

/*p {color: red;} */
</style>
</head>

<body>


  <div class="sidenav">
    <ul style="list-style-type: disc;">
      <li><a href="#Intro">Intro</a></li>
      <li><a href="#General_Principles">General Principles</a></li>
      <li><a href="#Further_General_Tips">Further General Tips</a></li>
      <li><a href="#Textbooks">Textbooks</a></li>
      <li><a href="#Speaking">Speaking</a></li>
      <li><a href="#Reading">Reading</a></li>
      <li><a href="#Writing">Writing</a></li>
      <li><a href="#Vocabulary_Acquisition">Vocabulary Acquisition</a></li>
      <ul>
        <li><a href="#Anki">Anki</a></li>
        <li><a href="#Memrise">Memrise</a></li>
        <li><a href="#Google_Sheets">Google Sheets</a></li>
        <li><a href="#Spaced_Repetition">Spaced Repetition</a></li>
        <li><a href="#Mnemonics">Mnemonics</a></li>
      </ul>
      <li><a href="#Other_Tools">Other Tools</a></li>
    </ul>
  </div>

<font size="3" color=#5996B4>
<center>
<p>
</p>
<h1>Language Guide</h2>

</font>
by Simon, v.2.0
<p>
</p>
Saigon, 13 December 2016
</center>

<style> /* this makes <hr> element closer to the text */
  hr{
    padding: 0px;
    margin:  0px;
  }
</style>


<h3><a id="Intro">Intro<hr></a></h3></hr>

This website is a combination of tips that I have learned from various polyglots and my own experience. I am neither a language expert nor a professional, so by no means do I claim this to be the only right way to learn a foreign language. It is simply a set of methods and techniques that has worked for me and I offer it to you as an alternative to traditional language learning in a class. Note that most of the tools and resources mentioned in this document are for free.


<h3><a id="General_Principles">General Principles<hr></a></h3></hr>

<p>
I. Motivation is Key
<p>
<ul>
  <li>You should know why you are learning the language, and the motive needs to be a strong one (intrinsic). It will help you get through the times when you feel stuck.</li>
  <li>Being exposed to original content and native speakers will be a boost for your motivation</li>
</ul>
</p>

<p>
II. It Has to Be Fun
</p>
<ul>
  <li>Don't think that you will have to memorise endless grammar tables or lists of words as that won't take you far. If learning is fun, it will help keep your motivation (I) alive</li>

  <li>Later on, it is essential that you create your own content (Intermediate level and further) that will spark your interest. In this sense, internet has revolutionised language learning</li>
</ul>

III. Consistency
<ul>
  <li>As little as 15-30mins/day will do. Every day. Surely you can find that time</li>

  <li>It is better to study regularly smaller chunks than, say, 1x week 2 hours straight</li>

  <li>Only if if is fun (II) and you are motivated enough (I) you can maintain consistency</li>
</ul>

<h3><a id="Further_General_Tips">Further General Tips<hr></a></h3></hr>
  <ul>
    <li>Don't focus too much on grammar as you can pick it up along the way. I only look up grammar tables and exercises after I get exposed to it many times (e.g. while reading). Quite often you can skip this entirely as you get the gist of the grammar rule from the context</li>

    <li>Context is king. Don't learn isolated words from random lists as you should be exposed to the world in a natural way (news article, film, etc.)</li>

    <li>Each language level requires different techniques. Different approaches suit different people. I personally discover a new method or a hack every few weeks on how to make learning more efficient and enjoyable. Note that going from the A1 level to A2 is way less work than, say, from B2 to C1</li>

    <li>It makes sense not to work too hard in the beginning (A1, A2) as everything is new. Once you reach the intermediate and advanced phase, it becomes more fun to use the language as you can consume original content, engage in interesting conversations etc. and suddenly it is a less of a problem to spend many hours every day with the language, as it doesn't even feel like learning any more</li>

    <li>Sometimes less is more. Don't get drown in dozens of apps and magazines</li>

    <li>This list is far from complete, neither does it mean that you should use all of these tools. Just try whatever works best for you, be flexible.</li>

    <li>Create your own private language "microspace". Watch TV shows in the target language, read news, listen to songs, change your mobile phone or computer language settings etc.</li>

    <li>There is a general debate about when to start speaking. There are some that claim you should speak from day one, others prefer to learn the basics (1-3 months) and start speaking after that. It's up to you what you prefer</li>

    <li>Language learning composes of 4 main blocks: reading, writing, speaking, listening. You should be exercising all these 4 components more or less equally. Having said that, you don't have to worry too much about writing until the Intermediate phase though</li>

    <li>Most of the tools I list here have pen-and-paper alternative. I don't cover those as I prefer digital</li>

    <li>If you think that you will need 10 years to learn a language from scratch as you might have needed at high school, think again. Obviously there are many factors at play (distance of the target language from your mother tongue, your learning experience, amount of free time etc.), but you can achieve a simple conversational level in 3 - 6 months and a decent overall level in no more than 2 years. For inspiration, take a look at <a href="https://www.scotthyoung.com/blog/myprojects/the-year-without-english-2/" target="_blank">these guys</a>: they have learned 4 languages in 12 months to a very good level (Intermediate). Sure, their conditions were special (they were mostly learning languages during that time, they didn't speak their mother tongue at all etc.), but it just illustrates what is possible to achieve. Also note that they were not experienced language learners when they started the project</li>
  </ul>

<h3><a id="Textbooks">Textbooks<hr></a></h3></hr>
<p>Beginner level</p>
<ul>
  <li>Series "Assimil with Ease" series is supposedly very good. The only downside is a limited offer of languages. The book is usually either for English or French speakers. It comes with an audio. Focus is on comparing bilingual texts</li>

  <li>Some also recommend Teach Yourself or Pimsleur</li>

  <li>I have never heard anything good about Rosetta Stone</li>
</ul>

Intermediate level and further
<ul>
<li>It is difficult to give a general advice on textbooks, but always look for content. If a book has many fancy pictures, but very little text, stay away from that</li>
</ul>

<h3><a id="Speaking">Speaking</a><hr></a></h3></hr>
italki
<ul>
  <li>The "AirBnB for language tutors"</li>

  <li>You find your tutor there, book a time slot, the class is done via Skype, payment goes through the italki website</li>

  <li>Cheaper than "normal" tutors, no commuting time</li>

  <li>I recommend to do a few trial classes to find a teacher that you personally like</li>

  <li>Language Exchange (free), Informal Tutoring (non-professional teachers, they don't prepare materials for the class, paid), or Professional Teachers (the most expensive option)</li>

  <li>You can prepare content/topic yourself and give it to the tutor</li>

  <li>Go native, no compromises here</li>

  <li>I don't use this tool to have a language teacher, I can learn by myself. The main purpose is to have a conversation partner (who can occasionally help with difficult grammar or so)</li>

  <li>Tip: Record classes. Use shared documents (Google Docs) with the teacher. Skype chat can be also used to track mistakes etc.</li>

  <li>Tip: Before every class, I read an article and jot down some new words and expressions on a piece of paper. Then I try to summarise that article for my tutor, using the new words</li>
</ul>

Record Yourself
<ul>
<li>You can send your recording to a native speaker to comment on it (good for timid language learners) either as an MP3 or you can use <a href="https://soundcloud.com/" target="_blank">SoundCloud</a></li>
</ul>

<h3><a id="Reading">Reading<hr></a></h3></hr>
<ul>
<li><a href="https://en.wikipedia.org/wiki/Extensive_reading" target="_blank">Extensive reading</a> (fast, a lot of content) or Intensive reading (slow, detailed). Up to you what you prefer, you can combine these two methods. More on this <a href="http://www.thepolyglotdream.com/intensive-vs-extensive-reading/" target="_blank">here</a></li>

<li>The content should be only slightly above your level (intensive reading), otherwise you will get frustrated and demotivated. For extensive reading, the level of the text should not exceed your current level, maybe even aim below</li>

<li>Review the texts that you have already read (based on SRS - increasing intervals of each review, more on SRS below)</li>

<li><a href="https://www.project-syndicate.org/" target="_blank">Project Syndicate</a> - high quality current-affairs texts translated into many languages. B2 and above. You can compare the text to your mother tongue (or to a crutch language such as English) with the text in target language</li>
</ul>

Learning with Texts (LWT)
<ul>
  <li>Free, open source, support of any language / writing system</li>

  <li>Import any text you like, mark unknown words with the help of integrated dictionary and export the words into Anki</li>

  <li>Set-up can be a bit challenging, but everything is described nicely on the <a href="http://lwt.sourceforge.net/" target="_blank">LWT website</a></li>

  <li>A <a href="http://www.streetsmartlanguagelearning.com/2013/01/using-learning-with-texts-with-anki-2_15.html" target="_blank">guide</a> on how to pair LWT and Anki</li>
</ul>

<a href="https://www.lingq.com/" target="_blank">LingQ</a>
<ul>
  <li>Paid alternative to LWT</li>

  <li>You can access its database of texts for free (many of them have an accompanying audio) and filter according to your language level</li>

  <li>Advantages: dedicated mobile/tablet app, a community of users around the system</li>

  <li>Disadvantages: it's quite expensive ($10/month); community translations are often quite off; the app has some bugs (as of 11/2016); export to Anki possible, but some data cleansing in Excel is required</li>
</ul>
<a href="https://pdfexpert.com/" target="_blank">PDF Expert</a>
<ul>
  <li>A fantastic app for reading PDFs (iOS and macOS only)</li>

  <li>$10</li>

  <li>It allows to export highlights (=new words and phrases)</li>

  <li>Easy sync (iCloud, Google Drive, Dropbox)</li>

  <li>Easy bookmarking, it is possible to rename bookmarks</li>

  <li>Especially powerful if you do multitasking with Google Sheets (where you can have imported words from PDF Expert automatically translated with a formula. More on that below)</li>

  <li>The latest update even allows to edit PDFs (!); it comes at an extra $10 charge, though</li>

  <li>Unlike most of the competition, very decent UX</li>

  <li>Useful not only for reading books, newspapers etc., but also if you have your textbook as a PDF scan, so that you don't have to print out anything</li>

  <li>Can be used both as a complement or a substitute to LWT/LingQ</li>
</ul>
Kindle/e-Reader
<ul>
  <li>You can install a dictionary, highlight unknown words and export them (best via <a href="https://www.clippings.io/" target="_blank">Clippings</a>, which can be used for free)</li>

  <li>In my opinion, best suitable for advanced students and extensive reading</li>
</ul>

<a href="https://chrome.google.com/webstore/detail/google-dictionary-by-goog/mgijmajocgfcbeboacabfgobmjgjcoja?hl=en" target="_blank">Google Dictionary</a>
<ul>
  <li>Extension for Chrome browser</li>

  <li>Double click on any word you see and it gets translated and stored in a database; you can export the words after</li>

  <li>Free, extremely simple to use</li>

  <li>Google Translate extension is similar to this</li>
</ul>

<a href="http://readlang.com/" target="_blank">Readlang</a>
<ul>
  <li>Extension for Chrome browser</li>

  <li>Similar to Google Dictionary, more interactive, built-in flashcards</li>

  <li>Basic version free, otherwise paid</li>
</ul>

<h3><a id="Listening">Listening<hr></a></h3></hr>
<ul>
  <li>Listen a lot. Listen to the same recording many times (10-20x) until you get it.</li>

  <li>Don't listen to too difficult recordings (e.g. listening to radio makes sense from, say, B2 onwards). You wouldn't understand much and it would demotivate you. Similarly to reading, you should aim at content that is only slightly above your level</li>

  <li>Ideal is to have an audio of the text that you are reading</li>

  <li>Focus. I don't believe in passive listening (some people do, though)</li>

  <li>Use "dead-time" for listening (lunch break, commuting etc.) It requires no extra time from you</li>
</ul>
Podcasts
<ul>
<li>E.g. iPhone has a dedicated Podcasts app where you can find a plenty of content for free</li>
</ul>
Audiobooks
<ul>
<li>It is great to have an audio version of the book you are reading. You can listen to the chapter that you just read the previous day</li>
</ul>
<a href="https://tunein.com/" target="_blank">TuneIn</a>
<ul style="list-style-type:circle">
<li>Free mobile app with many radio channels. You can filter by region, language etc.</li>
</ul>

<a href="https://www.fluentu.com/">FluentU</a>
<ul>
<li>Paid service, short videos with subtitles</li>
</ul>

<a href="https://www.yabla.com/" target="_blank">Yabla</a>

<ul>
<li>Similar to FluentU. Better value as long as you learn only one language</li>
</ul>

Netflix
<ul>
  <li>If you use VPN, you can register in your target country and have the content in that language (both audio and subtitles. Not sure how this works for different languages, I have only tested it for German)</li>
</ul>
<a href="https://rhinospike.com/" target="_blank">Rhinospike</a>
  <ul>
    <li>Upload any text and a native speaker will make an MP3 recording for you. For free, the same principle as lang-8.com (more on that in the Writing section)</li>
</ul>
<a href="https://www.youtube.com/" target="_blank">YouTube</a>
  <ul>
    <li>You can find fantastic and free content there (vlogs, songs, films, documentaries, TV shows, late night shows,...)</li>
</ul>
Soap Operas
<ul>
  <li>If you can somehow overcome the tragic content, they are great: a simple plot that you can guess in case you don't understand, a lot of dialogues, colloquial language, expressions</li>

  <li>Very good for picking up the "everyday language"</li>
</ul>
<h3><a id="Writing">Writing<hr></a></h3></hr>
<ul>
  <li>In my opinion, the most challenging part of language learning</li>

  <li>It uses the most refined form of a language</li>

  <li>No need to concern with this until, say, Lower-Intermediate level</li>

  <li>Tip: When correcting your writing, don't write the corrections right into the text. Only mark where the mistake is and then try to correct it the next day</li>
</ul>
Bidirectional Translation method
<ul>
<li>Good for the Beginner and Intermediate level</li>

<li></li>
<li>You learn many things at once: grammar, vocabulary, syntax, reading, writing</li>

<li>Luca Lampariello is the author of this method and explains it in detail here</li>
</ul>
Lang-8
<ul>
  <li>Website where native speakers correct your writing for free. In return you do the same for others. Or you can pay around $4/month and then you don't have to do anything</li>
</ul>
Google Docs
<ul>
  <li>Great as others (friends, tutor) can easily comment in your texts</li>
</ul>
<h3><a id="Vocabulary_Acquisition">Vocabulary<hr></a></h3></hr>
<a id="Anki"></a><a href="https://apps.ankiweb.net/" target="_blank">Anki</a>
<ul>
  <li>It's a digital version of "flash cards"</li>

  <li>Free for Android and PC/Mac, $25 on iOS, worth every penny. You import words there from LWT with context (!)</li>

  <li>Suitable for any language</li>

  <li>It uses Spaced Repetition System (SRS). See below</li>

  <li>Highly customizable, you can add pictures, sounds, anything</li>

  <li>Tip: I import screenshots of films with subtitles into Anki, so that I can easily recall the word using the film context</li>

</ul>
<a id="Memrise"></a><a href="https://www.memrise.com/" target="_blank">Memrise</a>
<ul>
  <li>Alternative to Anki. Also employs SRS. Basic version for free (sufficient in my opinion). Unlike Anki, it has some gamification features. However, it is not as versatile in terms of customization. Mobile and web app</li>
</ul>
<a id="Google_Sheets"></a><a href="https://www.google.com/sheets/about/" target="_blank">Google Sheets</a>

<ul>
<li>A great free tool for keeping your vocab lists synced across devices</li>

<li>Tip: Use a formula for automatic translation. It's just
  <div class="literalblock">
  <div class="content monospaced">
    <pre>=GOOGLETRANSLATE("Hello World","en","es")</pre>
</div></div>
In this example, an expression "Hello World" is translated from English into Spanish.</li>
</ul>

<a id="Spaced_Repetition"></a><a href="https://en.wikipedia.org/wiki/Spaced_repetition" target="_blank">Spaced Repetition</a>
<ul>
  <li>Technique that employs increasing intervals between reviews</li>

  <li>It helps you retain information in the long term memory</li>

  <li>Used by apps like Anki or Memrise</li>

  <li>You should adopt this principle (for reviewing words, texts, audios,…)</li>

  <li>More on this here</li>
</ul>
<a id="Mnemonics">Mnemonics</a>
<ul>
  <li>Techniques to boost the capacity of your memory. The two methods I mention here are very powerful tools that can boost your capabilities not only in language learning</li>

  <li>Association / Linkword Technique. Video that explain this principle (it explains on how to use it for the German language in English, but it can be applied to any language). Especially useful for learning difficult words</li>
  Loci Method / Mind Palace - "method of memory enhancement which uses visualisations with the use of spatial memory" (wikipedia.org)

  <li>Theory behind memorisation</li>

  <li>Some inspiration on how to approach vocabulary acquisition in practise</li>
</ul>
<h3><a id="Other_Tools">Other Tools<hr></a></h3></hr>
HiNative
<ul>
  <li>Mobile App where you can ask questions such as "how would you say,...". You get an answer fast, for free</li>
</ul>
HelloTalk
  <ul>
<li>Language exchange via chatting (mobile app)</li>
</ul>
Course Apps
<ul>
  <li>Many apps that offer "complete" courses such as Duolingo (free), Babbel (free taster, then paid) and other apps</li>

  <li>Suitable for beginners</li>
</ul>
Wikipedia
<ul>
  <li>Very good for translating specific or scientific terms. You simply find the word in a language you know and then you switch the language of Wikipedia</li>
</ul>
Pronunciation
<ul>
  <li>Don't only listen, but also look at the mouth of native speakers when trying to figure out how to pronounce difficult sounds</li>

  <li>If struggling with some sounds, it might be necessary to get a bit analytical (study the position of your tongue towards your teeth, hard/soft palate etc.) Any sound can be learned, this is a bit like learning a new sport: your face will hurt as you will be using muscles you don't use while speaking your mother tongue</li>

  <li>Focus on the rhythm, pauses, intonation, word stress. Every language has these aspects different</li>
</ul>
Mimic Method: a phonetics-focused course by Idahosa Ness. Very analytical and detailed, a must for phonetics-geeks
<ul>
  <li>Ever wondered why most adult learners suck at pronouncing foreign languages? As with most cognitive things, evolution is behind it! Watch fantastic <a href="https://www.youtube.com/watch?v=5JTk6xt6Jic" target="_blank">Anthony Lauder</a></li>
</ul>
My Routine
<ul><li>My learning centres around a good text. This way I will attack the same set of words from many angles:</li>

  <li>I find a text I like (e.g. newspapers article) and I analyse it (in LWT or PDF Expert) until I understand it perfectly</li>

  <li>I review the text a few times within a few days. This way I will learn the new words passively (target language->mother tongue)</li>

  <li>I use the new words to write a short text</li>

  <li>I use the new words during a class to summarise the text for my tutor. Alternatively, I start a conversation on a different topic, where I try to use the new words from the text (usually I have a handwritten note on me in case I don't remember the words yet)</li>

  <li>Ideally I listen to a recording where these words are used (audio of the text, a recording I made during a class with my tutor etc.)</li>

  <li>I put the new words into Anki to learn them actively (mother tongue->target language)</li>

  <li>Next day, before I read a new article, I review the old one</li>
</ul>
Next Steps
<ul>
<li>If you want to know more about language learning in general, these links are a good start:</li>
<ul>
  <li><a href="http://how-to-learn-any-language.com/e/index.html" target="_blank">How To Learn Any Language</a></li>

  <li><a href="http://www.thepolyglotdream.com/" target="_blank">The Polyglot Dream</a></li>

  <li><a href="https://www.fluentin3months.com/" target="_blank">Fluent in 3 Months</a></li>

  <li><a href="https://www.youtube.com/watch?v=d0yGdNEWdn0" target="_blank">TED Talk: Chris Lonsdale</a></li>
</ul>

</body>

<div class="main">

</div>

</html>
